.header {
    background-color: $color-primario;
    position: relative;
   .navbar-brand img {
    height: 80px;
   }
   .main {
    background-color: $color-fondo;
    text-align: center;
    color: $color-texto-primario;
   }
  }