.header{
    background-color: $color-primario;
    position: relative;
    .navbar-brand img{
    height: 80px;    
    }
}

/*anidar

    .custom-toggler{
        &:focus{
            ...
            ...
            ...
        }
    }


extend:reutiliza código

.otroContenedor{
    @extend .contenedor;
    ... otros componentes


mixin

    @mixin flex-direction-center($direction){
        display:flex;
        flex-direction;
        ...
*/