$colores: (
    color-primario: #00879B,
    color-secundario: #00879B,
    color-texto: #000000
);

$font-family: "Montserrat Alternates", sans-serif;

$breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);

$padding: (

);

$fuente-normal: 1em;
$fuente-pequena: 0.8em;
$fuente-grande: 1.4em;
